<!DOCTYPE html>
<html ng-app="sailng" ng-controller="AppCtrl">
<head>
    <base href="/">
    <title>JMedia</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="csrf-token" content="<%= _csrf %>">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--STYLES-->
    <!--STYLES END-->
<!--
    <script type="text/javascript">
        window.JMedia = { _csrf: '<%= _csrf %>'};
    </script>
-->

    <audio id="chatAudio">
        <source src="/sounds/notify.ogg" type="audio/ogg">
        <source src="/sounds/notify.mp3" type="audio/mpeg">
        <source src="/sounds/notify.wav" type="audio/wav">
    </audio>
</head>

<body class="page-body">
    <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="/"> JMedia</a>-->
            <!--</div>-->
            <!--&lt;!&ndash; Nav toggle&ndash;&gt;-->
            <!--<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<% if (session.authenticated && session.user.admin) { %>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                              <!--<span id="currentAdminMenu" class="fa fa-wrench fa-lg">-->
                                  <!--Administration-->
                              <!--</span>-->
                            <!--<b class="caret"></b>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="/api/administration"><span class="fa fa-desktop fa-lg"></span> System Administration</a></li>-->
                            <!--<li><a href="/api/administration/users"><span class="fa fa-group fa-lg"></span> User Administration</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<% } %>-->
                <!--</ul>-->
    <!---->
                <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
                <!--<% if (!session.authenticated) { %>-->
                <!--<div>-->
                    <!--<a href="/api/members/reset" class="btn btn-info navbar-btn navbar-right" style="margin-left: 5px">Forgot Password</a>-->
                <!--</div>-->
                <!--<form action="/api/session/login" class="navbar-form navbar-right">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" placeholder="Email" name="email" class="form-control">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input type="password" placeholder="Password" name="password" class="form-control">-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-success">Sign in</button>-->
                    <!--<input type="hidden" name="_csrf" value="<%= _csrf %>" />-->
                <!--</form>-->
                <!--<% } %>-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!---->
                <!--<% if (session.authenticated) { %>-->
                <!--<ul class="nav navbar-nav navbar-right navLiRightEdgePadding">-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                              <!--<span id="currentUserMenu" class="fa fa-user">-->
                                  <!--<%= session.user.name %>-->
                              <!--</span>-->
                            <!--<b class="caret"></b>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="/api/account/details/<%= session.user.id %>"><span class="fa fa-user"></span> Profile</a></li>-->
                            <!--<li><a href="/"><span class="fa fa-cogs"></span> Settings</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="/api/session/destroy"><span class="fa fa-sign-out"></span> Logout</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<% } %>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<%- body %>
<!--
    <div class="container">
        <hr>
        <footer class="footer pull-right">
            <div>
                <a href="https://github.com/Karnith/JMedia/">JMedia</a>
                <div>Take control of your library!</div>
            </div>
        </footer>
    </div>
-->



<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<!--SCRIPTS-->
<!--SCRIPTS END-->

<!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

<!--TEMPLATES-->
<!--TEMPLATES END-->

</body>
</html>
